/* #location{
    display: none;
} */

@media print {
    .resume {
        color: black;
        border: none;
        box-shadow: none;

    }

    img {
        display: none;
    }

    svg {
        display: none;
    }

}